body {
  background-color: #c5dff8;
}

/* Error Page Styles */
.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.error h1 {
  margin: 0;
}

.err-code-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* NavBar Styles */
.navbar {
  background-color: darkslateblue;
  color: aliceblue;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: center;
}

.user-name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}

.logo-name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
}

/* SideBar Styles */
.sidebar {
  margin: 10px 10px 0 0;
  border-top-right-radius: 10px;
  width: fit-content;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: darkslateblue;
  color: aliceblue;
}

/* Buttons inside SideBar */
.profile-btn,
.dashboard-btn,
.order-history-btn {
  text-align: start;
  color: aliceblue;
  border: 0;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 0 10px;
  width: 80%;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.profile-btn p,
.dashboard-btn p,
.order-history-btn p {
  margin: 0;
}

.icon {
  margin-right: 8px;
}

.active {
  color: #fff;
  background-color: #7286d3;
}

/* Landing Page Styles */
.landingpage-body {
  display: flex;
  height: calc(100vh - 80px);
}

.sidebar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content {
  flex-grow: 1;
  padding: 10px 10px 10px 0;
  display: flex;
  overflow: auto;
}

.add-edit-product {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px 20px 10px;
  box-sizing: border-box;
}

/* Profile Styles */
.pf-head {
  background-color: #7286d3;
  color: #fff;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 20px;
}

.pf-head h2 {
  margin: 0;
}

.name,
.userId,
.password,
.email {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-bottom: 20px;
  gap: 80px;
}

/* Profile Styles */
.profile {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.pic-info {
  display: flex;
  flex-direction: column-reverse;
}

.profile img {
  height: 300px;
  width: 300px;
  border-radius: 10px;
}

.pf-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Inventory Styles */
.search-addbtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addbtn-div {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.add-btn {
  background-color: #0d6efd;
  color: #fff;
  border: none;
  padding: 12.4px 20px;
  border-radius: 6px;
}

.product-search {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.search-inp {
  background-color: #fff;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin-right: 15px;
}

.product-search h3 {
  margin: 0;
}

.table {
  overflow: auto;
  border-radius: 10px;
  height: calc(100vh - 175.68px);
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
}

table h3 {
  margin: 0;
}

thead {
  background-color: #7286d3;
  color: #fff;
}

thead th {
  padding: 16px 20px;
}

table td {
  background-color: #fff;
  padding: 8px 16px;
}

tbody {
  overflow: auto;
}

table tfoot td {
  padding: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.edit-btn {
  background-color: #0d6efd;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
}

.active-btn {
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
}

.edit-btn h3,
.active-btn h3,
.add-btn h2 {
  margin: 0;
}

table th,
table td {
  word-wrap: break-word;
}

/* Analytics Styles */
.analytics {
  height: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  overflow: auto;
}

.counts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 10px;
}

.counts h3 {
  margin: 0;
}

.active-products-count,
.total-stock-amount,
.sales-to-date,
.total-sale-count,
.total-profit,
.products-below-min-quantity-count {
  padding: 10px;
  border-radius: 10px;
  background-color: #7286d3;
  color: #fff;
}

.total-sale-count,
.total-profit,
.products-below-min-quantity-count {
  background-color: #a0bfe0;
  color: #000;
}

/* Create Order Styles */
.create-order-container {
  height: 100%;
  border-radius: 10px;
  background-color: #fff;
}

.order-product-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
}

.order-product-search h3 {
  margin: 0;
}

.order-search-inp {
  background-color: #c5dff8;
  width: 100%;
  padding: 12.4px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin-right: 15px;
}

.order-search-btn {
  color: #fff;
  border: none;
  padding: 12.4px 20px;
  border-radius: 6px;
}

.search-product-result {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
}

.create-order-form {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
}

/* Order History Styles */
.order-histories-container {
  height: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  overflow: auto;
}

.order-history-table-container h4 {
  margin: 0;
}

.tHead {
  background-color: #7286d3;
  color: #fff;
}

.history-search {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c5dff8;
  padding: 10px;
  border-radius: 10px;
}

.history-search h3 {
  margin: 0;
}

.history-search-inp {
  background-color: #fff;
  width: 100%;
  padding: 12.4px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin-right: 15px;
}

.history-search-btn {
  color: #fff;
  border: none;
  padding: 12.4px 20px;
  border-radius: 6px;
}

/* Emergency List Styles */
.emergency-list-container {
  height: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  overflow: auto;
}

.emergency-list-table-container h4 {
  margin: 0;
}

.tHead {
  background-color: #7286d3;
  color: #fff;
}

.emergency-list-tbody tr:nth-of-type(even) {
  background-color: #f9f9f9;
}

.emergency-list-tbody tr:hover {
  background-color: #f1f1f1;
}

.emergency-list-tbody td,
.emergency-list-tbody th {
  padding: 16px;
  text-align: center;
}

.emergency-list-tbody button {
  background-color: #1976d2;
  color: white;
  border: none;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.emergency-list-tbody button:hover {
  background-color: #1565c0;
}

/* OrderDetails Styles */
.order-details-container {
  height: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  overflow: auto;
}

.info-item {
  background-color: #f0f0f0;
  padding: 10px;
}

.order-details-table-container h4 {
  margin: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .sidebar-container {
    width: 100%;
  }

  .main-content {
    padding: 10px;
  }

  .navbar {
    align-items: center;
  }

  .logo-name h1 {
    font-size: 18px;
  }

  .user-name h1 {
    font-size: 16px;
  }

  .user-name {
    margin-left: 30px;
  }

  .logo-name {
    margin-right: 30px;
  }

  .landingpage-body {
    flex-direction: column;
    height: calc(100vh - 44.9px);
  }

  .sidebar {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 10px 0;
    border-radius: 0;
    width: 100%;
  }

  .profile-btn,
  .dashboard-btn,
  .order-history-btn {
    width: auto;
    margin: 5px;
    padding: 5px 10px;
    font-size: 14px;
  }

  .icon {
    margin-right: 4px;
  }

  .pic-info {
    flex-direction: column;
  }

  .profile img {
    height: auto;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .navbar {
    align-items: center;
  }

  .logo-name h1,
  .user-name h1 {
    font-size: 16px;
  }

  .user-name img {
    height: 30px;
    width: 30px;
  }

  .landingpage-body {
    height: calc(100vh - 40.63px);
  }

  .profile-btn,
  .dashboard-btn,
  .order-history-btn {
    flex-direction: column;
    padding: 5px;
  }
}
